<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Lista de Notas </h1>
    <table>
        <tr>
            <th>Aluno</th>
            <th>Disciplina</th>
            <th>Nota</th>
        </tr>
        {% for nota  in notas %}
        <tr>
            <td>{{ nota ['aluno'] }} </td>
            <td>{{nota ['disciplina'] }}</td>
            <td>{{ nota['nota'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('adicionar') }}"> Adicionar Nova Nota</a>
</body>
</html>